html,
body {
    background-color: #EDF2F4;
}

.splash {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.splash img{
   width: 25vh;
}

.splash h2 {
    font: bold 20px "Inter", sans-serif;
    color: black; 
}

.splash h2 span {
    color: #066EC0;
}

